# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Cache
.cache/
backend/cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Temp files
temp/
tmp/

# Build
dist/
build/
